openapi: 3.0.0
info:
  title: Genseg API
  description: API para la gestión de proyectos y usuarios en Genseg
  version: 1.0.0
servers:
  - url: https://2nlfx0w1-3000.brs.devtunnels.ms
    description: Servidor de desarrollo

paths:
  /auth/register:
    post:
      summary: Crear un nuevo usuario administrador General
      requestBody:
        description: Datos para crear un usuario
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserAdmin'
      responses:
        '201':
          description: Usuario creado correctamente
        '400':
          description: Error en la solicitud (Datos invalidos)
        '500':
          description: Error el usuario ya existe
  /auth/login:
    post:
      summary: Con el usuario y su password debe de ingresar para logearse
      requestBody:
        description: Datos para logearse y devolver un token
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserAdmin'
      responses:
        '201':
          description: Usuario logeado correctamente
        '400':
          description: El usuario y password es obligatorio
        '401':
          description: El usuario no encontrado
        '404':
          description: El usuario y password no coinciden
        '500':
          description: Error el usuario ya existe
          

paths:
  /projects/{id}:
    get:
      summary: Obtener todos los proyectos
      responses:
        '200':
          description: Lista de proyectos
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Project'
    post:
      summary: Crear un proyecto
      requestBody:
        description: Datos para crear un proyecto
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewProject'
      responses:
        '201':
          description: Proyecto creado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'

  /permisos:
    get:
      summary: Obtener todos los permisos
      responses:
        '200':
          description: Lista de permisos
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Permiso'
    post:
      summary: Crear un nuevo permiso
      requestBody:
        description: Datos para crear un permiso
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewPermiso'
      responses:
        '201':
          description: Permiso creado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Permiso'

  /users:
    get:
      summary: Obtener todos los usuarios
      responses:
        '200':
          description: Lista de usuarios
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
    post:
      summary: Crear un usuario
      requestBody:
        description: Datos para crear un usuario
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewUser'
      responses:
        '201':
          description: Usuario creado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'

  /activities:
    post:
      summary: Crear una actividad
      requestBody:
        description: Datos para crear una actividad
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewActivity'
      responses:
        '201':
          description: Actividad creada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Activity'
    put:
      summary: Actualizar una actividad
      requestBody:
        description: Datos para actualizar una actividad
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateActivity'
      responses:
        '200':
          description: Actividad actualizada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Activity'
    delete:
      summary: Eliminar una actividad
      requestBody:
        description: Datos para eliminar una actividad
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteActivity'
      responses:
        '200':
          description: Actividad eliminada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Activity'
    get:
      summary: Obtener el número de estados de actividades
      responses:
        '200':
          description: Número de estados de actividades
          content:
            application/json:
              schema:
                type: integer
                example: 5

  /roles:
    get:
      summary: Obtener todos los roles
      responses:
        '200':
          description: Lista de roles
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Role'
    post:
      summary: Crear un rol
      requestBody:
        description: Datos para crear un rol
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewRole'
      responses:
        '201':
          description: Rol creado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Role'

  /forms:
    get:
      summary: Obtener todos los formularios
      responses:
        '200':
          description: Lista de formularios
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Form'
    post:
      summary: Crear un formulario
      requestBody:
        description: Datos para crear un formulario
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewForm'
      responses:
        '201':
          description: Formulario creado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form'

  /questions:
    get:
      summary: Obtener todas las preguntas
      responses:
        '200':
          description: Lista de preguntas
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Question'
    post:
      summary: Crear una pregunta
      requestBody:
        description: Datos para crear una pregunta
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewQuestion'
      responses:
        '201':
          description: Pregunta creada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Question'

  /permissions:
    get:
      summary: Obtener todos los permisos
      responses:
        '200':
          description: Lista de permisos
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Permission'
    post:
      summary: Crear un permiso
      requestBody:
        description: Datos para crear un permiso
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewPermission'
      responses:
        '201':
          description: Permiso creado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Permission'

  /subunits:
    get:
      summary: Obtener todas las subunidades
      responses:
        '200':
          description: Lista de subunidades
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubUnit'
    post:
      summary: Crear una subunidad
      requestBody:
        description: Datos para crear una subunidad
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewSubUnit'
      responses:
        '201':
          description: Subunidad creada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubUnit'

components:
  schemas:
    Project:
      type: object
      properties:
        idproj:
          type: integer
          example: 1
        dni:
          type: string
          example: "75548237"
        id_rol:
          type: integer
          example: 1
        subunidad_id_subuni:
          type: integer
          example: 1
        plan:
          type: string
          example: "/uploads/plan-123456789.pdf"
        estado:
          type: string
          example: "Pendiente"
        escuelaProfesional:
          type: string
          example: "Ingeniería de Sistemas"
    NewProject:
      type: object
      properties:
        dni:
          type: string
          example: "75548237"
        id_rol:
          type: integer
          example: 1
        subunidad:
          type: integer
          example: 1
        EP:
          type: string
          example: "Ingeniería de Sistemas"
        plan:
          type: string
          example: "/uploads/plan-123456789.pdf"
    Permiso:
      type: object
      properties:
        idpermiso:
          type: integer
          example: 1
        nombre:
          type: string
          example: "Permiso de lectura"
        descripcion:
          type: string
          example: "Permite leer datos"
    NewPermiso:
      type: object
      properties:
        nombre:
          type: string
          example: "Permiso de lectura"
        descripcion:
          type: string
          example: "Permite leer datos"
    User:
      type: object
      properties:
        dni:
          type: string
          example: "75548237"
        n_usu:
          type: string
          example: "david"
        estado:
          type: boolean
          example: true
        password:
          type: string
          example: "password123"
        rol_id:
          type: integer
          example: 1
        subunidad_id_subuni:
          type: integer
          example: 1
    NewUser:
      type: object
      properties:
        dni:
          type: string
          example: "75548237"
        n_usu:
          type: string
          example: "david"
        password:
          type: string
          example: "password123"
        rol_id:
          type: integer
          example: 1
        subunidad_id_subuni:
          type: integer
          example: 1
    Activity:
      type: object
      properties:
        id:
          type: integer
          example: 1
        name:
          type: string
          example: "Actividad 1"
        description:
          type: string
          example: "Descripción de la actividad"
    NewActivity:
      type: object
      properties:
        name:
          type: string
          example: "Actividad 1"
        description:
          type: string
          example: "Descripción de la actividad"
    UpdateActivity:
      type: object
      properties:
        id:
          type: integer
          example: 1
        name:
          type: string
          example: "Actividad 1"
        description:
          type: string
          example: "Descripción de la actividad"
    DeleteActivity:
      type: object
      properties:
        id:
          type: integer
          example: 1
    Role:
      type: object
      properties:
        id:
          type: integer
          example: 1
        name:
          type: string
          example: "Administrador"
    NewRole:
      type: object
      properties:
        name:
          type: string
          example: "Administrador"
    Form:
      type: object
      properties:
        id:
          type: integer
          example: 1
        title:
          type: string
          example: "Formulario 1"
        description:
          type: string
          example: "Descripción del formulario"
    NewForm:
      type: object
      properties:
        title:
          type: string
          example: "Formulario 1"
        description:
          type: string
          example: "Descripción del formulario"
    Question:
      type: object
      properties:
        id:
          type: integer
          example: 1
        text:
          type: string
          example: "¿Cuál es tu nombre?"
    NewQuestion:
      type: object
      properties:
        text:
          type: string
          example: "¿Cuál es tu nombre?"
    Permission:
      type: object
      properties:
        id_per:
          type: integer
          example: 1
        n_per:
          type: string
          example: "Permiso de lectura"
        abreviatura:
          type: string
          example: "Lec"
    NewPermission:
      type: object
      properties:
        n_per:
          type: string
          example: "Permiso de lectura"
        abreviatura:
          type: string
          example: "Lec"
    SubUnit:
      type: object
      properties:
        id_subuni:
          type: integer
          example: 1
        n_subuni:
          type: string
          example: "Subunidad 1"
        abreviatura:
          type: string
          example: "Sub1"
    NewSubUnit:
      type: object
      properties:
        n_subuni:
          type: string
          example: "Subunidad 1"
        abreviatura:
          type: string
          example: "Sub1"
    UserAdmin:
      type: object
      properties:
        usuario:
          type: string
          example: "admin"
        password:
          type: string
          example: "password"
    NewUser:
      type: object
      properties:
        usuario:
          type: string
          example: "admin"
        password:
          type: string
          example: "password123"
    Role:
      type: object
      properties:
        id_rol:
          type: integer
          example: 1
        n_rol:
          type: string
          example: "Administrador"
        abrev:
          type: string
          example: "Admin"
    NewRole:
      type: object
      properties:
        n_rol:
          type: string
          example: "Administrador"
        abrev:
          type: string
          example: "Admin"
    Form:
      type: object
      properties:
        idf:
          type: integer
          example: 1
        nmForm:
          type: string
          example: "Formulario 1"
        estado:
          type: boolean
          example: false
        abre:
          type: string
          example: "F1"
    NewForm:
      type: object
      properties:
        nmForm:
          type: string
          example: "Formulario 1"
        estado:
          type: boolean
          example: false
        abre:
          type: string
          example: "F1"
    Question:
      type: object
      properties:
        idp:
          type: integer
          example: 1
        nmPrg:
          type: string
          example: "Pregunta 1"
        type:
          type: string
          example: "Texto"
    NewQuestion:
      type: object
      properties:
        nmPrg:
          type: string
          example: "Pregunta 1"
        type:
          type: string
          example: "Texto"
    Project:
      type: object
      properties:
        idproj:
          type: integer
          example: 1
        plan:
          type: string
          example: "/uploads/plan-123456789.pdf"
        estado:
          type: string
          example: "Pendiente"
        escuelaProfesional:
          type: string
          example: "Ingeniería de Sistemas"
        dni:
          type: string
          example: "75548237"
        idString:
          type: string
          example: "ID123"
        fInit:
          type: string
          format: date-time
          example: "2023-01-01T00:00:00Z"
        fFin:
          type: string
          format: date-time
          example: "2023-12-31T23:59:59Z"
        id_rol:
          type: integer
          example: 1
        subunidad_id_subuni:
          type: integer
          example: 1
    NewProject:
      type: object
      properties:
        plan:
          type: string
          example: "/uploads/plan-123456789.pdf"
        estado:
          type: string
          example: "Pendiente"
        escuelaProfesional:
          type: string
          example: "Ingeniería de Sistemas"
        dni:
          type: string
          example: "75548237"
        idString:
          type: string
          example: "ID123"
        fInit:
          type: string
          format: date-time
          example: "2023-01-01T00:00:00Z"
        fFin:
          type: string
          format: date-time
          example: "2023-12-31T23:59:59Z"
        id_rol:
          type: integer
          example: 1
        subunidad_id_subuni:
          type: integer
          example: 1
    Activity:
      type: object
      properties:
        idActivi:
          type: integer
          example: 1
        name:
          type: string
          example: "Actividad 1"
        fInit:
          type: string
          format: date-time
          example: "2023-01-01T00:00:00Z"
        fFin:
          type: string
          format: date-time
          example: "2023-12-31T23:59:59Z"
        estado:
          type: string
          example: "Pendiente"
        idString:
          type: string
          example: "ID123"
        idproj:
          type: integer
          example: 1
        idres:
          type: integer
          example: 1
    NewActivity:
      type: object
      properties:
        name:
          type: string
          example: "Actividad 1"
        fInit:
          type: string
          format: date-time
          example: "2023-01-01T00:00:00Z"
        fFin:
          type: string
          format: date-time
          example: "2023-12-31T23:59:59Z"
        estado:
          type: string
          example: "Pendiente"
        idString:
          type: string
          example: "ID123"
        idproj:
          type: integer
          example: 1
        idres:
          type: integer
          example: 1
